<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzVisible]="isDrawerOpen"
    nzTitle="Modifica serie"
    [nzFooter]="footerTpl"
    (nzOnClose)="closeDrawer()"
>
    <form nz-form *nzDrawerContent [formGroup]="form" (ngSubmit)="edit()">

        <!-- Ripetizioni -->
        <div>
            <span class="mt-5 input-label">Ripetizioni</span>
            <input nz-input formControlName="reps" id="reps" type="number" class="input-field" />
            <div *ngIf="form.controls['reps'].touched && form.controls['reps'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['reps'].hasError('required')">Questo campo è obbligatorio.</span>
                <span *ngIf="form.controls['reps'].hasError('min')">Il valore minimo è 1.</span>
            </div>
        </div>

        <!-- Peso -->
        <div>
            <span class="mt-5 input-label">Peso</span>
            <input nz-input formControlName="weight" id="weight" type="number" class="input-field" />
            <div *ngIf="form.controls['weight'].touched && form.controls['weight'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['weight'].hasError('required')">Questo campo è obbligatorio.</span>
                <span *ngIf="form.controls['weight'].hasError('min')">Il valore minimo è 1.</span>
            </div>
        </div>

        <!-- Pausa -->
        <div>
            <span class="mt-5 input-label">Pausa (secondi)</span>
            <input nz-input formControlName="pause" id="pause" type="number" class="input-field" />
            <div *ngIf="form.controls['pause'].touched && form.controls['pause'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['pause'].hasError('required')">Questo campo è obbligatorio.</span>
            </div>
        </div>
    </form>
</nz-drawer>

<ng-template #footerTpl>
    <div class="flex justify-between">
        <app-cancel-button (click)="closeDrawer()" label="annulla"></app-cancel-button>
        <app-confirm-button (click)="edit()" label="salva" [isDisabled]="!form.valid || isLoading" [showLoader]="isLoading"></app-confirm-button>
    </div>
</ng-template>