<nz-card class="hover:shadow-lg w-full" nzTitle="Esercizi di oggi" [nzExtra]="extraTemplate">
    <div *ngIf="isLoading" class="w-full flex justify-center" >
        <nz-spin nzSimple></nz-spin> 
    </div>
    <div *ngIf="!isLoading">
        <nz-list nzBordered *ngIf="exercises.length > 0;else noData">
            <app-exercise-item-list *ngFor="let item of exercises" [exercise]="item"></app-exercise-item-list>
        </nz-list>
    </div>
</nz-card>

<ng-template #extraTemplate>
    <nz-button-group>
        <app-icon-button label="Nuovo esercizio" icon="plus" theme="outline" (click)="addExercise()"></app-icon-button>
        <app-icon-button label="Segna tutti come già fatti" icon="check-circle" theme="outline" (click)="markAllAsDone()"></app-icon-button>
    </nz-button-group>
</ng-template>

<ng-template #noData>
    <nz-empty nzNotFoundImage="simple"></nz-empty>
</ng-template>