<div class="my-4 mx-4 flex justify-between items-center">
    <div>
        <span class="text-4xl uppercase font-bold mb-0 overflow-ellipsis">
            Scheda
        </span>
    </div>

    <nz-button-group>
        <app-icon-button label="Nuovo esercizio" icon="plus" theme="outline" (click)="openDrawer()"></app-icon-button>
        <app-icon-button label="Segna tutti come già fatti" icon="check-circle" theme="outline" (click)="markAllAsDone()"></app-icon-button>
    </nz-button-group>
</div>

<div *ngIf="!isLoading;else loader">
    <div *ngIf="exercises.length > 0;else noData" class="lg:grid lg:grid-cols-4 mx-4">
        <app-exercise-list-item
            *ngFor="let item of exercises;let i = index"
            class="w-full mb-4" 
            [ngClass]="{'lg:pr-4': (i+1)%4!=0}"
            [exercise]="item"
            (onDelete)="deleteExercise($event)">
        </app-exercise-list-item>
    </div>
</div>

<app-add-exercise 
    [isDrawerOpen]="isDrawerOpen" 
    (onClose)="closeDrawer()" 
    [userId]="userId" 
    (onAdd)="addExercise($event)">
</app-add-exercise>

<ng-template #loader>
    <div *ngIf="isLoading" class="w-full flex justify-center" >
        <nz-spin nzSimple></nz-spin> 
    </div>
</ng-template>

<ng-template #noData>
    <nz-empty nzNotFoundImage="simple"></nz-empty>
</ng-template>