<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzVisible]="isDrawerOpen"
    nzTitle="Aggiungi esercizio"
    [nzFooter]="footerTpl"
    (nzOnClose)="closeDrawer()"
>
    <form nz-form *nzDrawerContent [formGroup]="form" (ngSubmit)="editExercise()">

        <!-- Nome esercizio -->
        <div class="mb-5">
            <span class="input-label">Nome esercizio</span>
            <input nz-input formControlName="name" id="name" type="text" maxlength="255" class="input-field" />
            <div *ngIf="form.controls['name'].touched && form.controls['name'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['name'].hasError('required')">Questo campo è obbligatorio.</span>
                <span *ngIf="form.controls['link'].hasError('maxLength')">La lunghezza massima è 255.</span>
            </div>
        </div>

        <!-- Giorni -->
        <div class="mb-5">
            <span class="input-label">Giorni</span>
            <nz-select formControlName="days" id="days" 
                       class="outline-none block w-full text-lg rounded-md input-field"
                       [nzMaxTagCount]="3" 
                       [nzMaxTagPlaceholder]="tagPlaceHolder"
                       nzMode="multiple" 
                       [(ngModel)]="selectedDays">
                <nz-option *ngFor="let item of days" class="text-lg" [nzLabel]="item" [nzValue]="item"></nz-option>
            </nz-select>
            <div *ngIf="form.controls['days'].touched && form.controls['days'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['days'].hasError('required')">Questo campo è obbligatorio.</span>
            </div>
          <ng-template #tagPlaceHolder let-selectedList>e altri {{ selectedList.length }}</ng-template>
        </div>

        <!-- Descrizione -->
        <div class="mb-5">
            <span class="input-label">Descrizione</span>
            <input nz-input formControlName="description" id="description" maxlength="255" type="text" class="input-field" />
            <div *ngIf="form.controls['description'].touched && form.controls['description'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['description'].hasError('maxLength')">La lunghezza massima è 255.</span>
            </div>
        </div>

        <!-- Link -->
        <div class="mb-5">
            <span class="input-label">Link</span>
            <input nz-input formControlName="link" id="link" type="text" maxlength="255" class="input-field" />
            <div *ngIf="form.controls['link'].touched && form.controls['link'].errors" class="text-red-500 text-lg">
                <span *ngIf="form.controls['link'].hasError('maxLength')">La lunghezza massima è 255.</span>
            </div>
        </div>
    </form>
</nz-drawer>

<ng-template #footerTpl>
    <div class="flex justify-between">
        <app-cancel-button (click)="closeDrawer()" label="annulla"></app-cancel-button>
        <app-confirm-button (click)="editExercise()" label="conferma" [isDisabled]="!form.valid || isLoading" [showLoader]="isLoading"></app-confirm-button>
    </div>
</ng-template>