<nz-card [nzTitle]="title" [nzExtra]="actions" class="mb-4">
    <app-series-details [showDivider]="true" title="Ripetizioni" [value]="series.reps"></app-series-details>
    <app-series-details [showDivider]="true" title="Carico" [value]="series.weight"></app-series-details>
    <app-series-details [showDivider]="true" title="Volume" [value]="totalWeight"></app-series-details>
    <app-series-details [showDivider]="true" title="Pausa" [value]="series.pause"></app-series-details>
    <app-series-details title="Fatto">
        <label nz-checkbox [(ngModel)]="done"></label>
    </app-series-details>
</nz-card>

<app-edit-series
    [isDrawerOpen]="isDrawerOpen"
    [series]="series"
    (onClose)="editSeries($event)"
></app-edit-series>

<ng-template #actions>
    <nz-button-group>
        <app-icon-button 
            label="Elimina" 
            icon="delete" 
            theme="outline" 
            nz-popconfirm
            nzPopconfirmTitle="Sei sicuro di voler elimiare questa serie?"
            nzPopconfirmPlacement="left"
            (nzOnConfirm)="delete()">
        </app-icon-button>

        <app-icon-button 
            label="Modifica" 
            icon="edit" 
            theme="outline" 
            (click)="openDrawer()">
        </app-icon-button>

        <app-icon-button 
            label="Pausa" 
            icon="hourglass" 
            theme="outline" 
            *ngIf="!isInPause"
            (click)="pause()">
        </app-icon-button>
        <app-icon-button 
            label="In pausa..." 
            icon="hourglass" 
            theme="outline" 
            [spin]="true"
            *ngIf="isInPause">
        </app-icon-button>
    </nz-button-group>
</ng-template>